@{
    ViewBag.Title = "Perfil";
}
<h1 style="text-align:center;">Mi perfíl</h1>
<div class="d-flex">
    <label class="col-1" style="margin-top:0.5%;">Nombre:</label><input type="text" class="form-control" style="width:30%;" />
</div>
<br />
<div class="d-flex">
    <label class="col-1" style="margin-top:0.5%;">Usuario:</label><input type="text" class="form-control" style="width:30%;" />
</div>
<br />
<div class="d-flex">
    <label class="col-1" style="margin-top:0.5%;">Contraseña:</label><input type="password" class="form-control" style="width:30%;" /><button style="margin-left:2%;" class="btn btn-primary">Cambiar</button>
</div>
